﻿@model Applicantform.Models.tbl_applicant
@{
    ViewBag.Title = "Edit";
    Layout = null;
}
<style type="text/css">
    .labelfrm {
        display: block;
        font-size: small;
        margin-top: 5px;
    }

    .error {
        font-size: small;
        color: red;
    }
</style>
@using (Html.BeginForm("Edit", "Applicant", FormMethod.Post, new { id = "form_create" }))
{
    @Html.HiddenFor(a => a.Id);
    <form>
        <div class="panel panel-default" style="height:60%; width:70%; text-align:right;position:center;margin-left:20%;margin-right:10%;">
            <div class="panel-heading" style="text-align:left">Application Form</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm">Name : *</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" required>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm">Mobile Phone Number : *</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="Mobile_Phone_Number" name="Mobile Phone Number" value="@Model.Mobile_Phone_Number" placeholder="0888888888" required>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name">Alternative Phone Number : </label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="Alternative_Phone_Number" name="Alternative_Phone_Number" value="@Model.Alternative_Phone_Number">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm">Email : *</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="Email" name="Email" required placeholder="yourEmail@yahoo.com" value="@Model.Email">
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm">Place Of Birth : *</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="Place_of_Birth " name="Place_of_Birth" required value="@Model.Place_of_Birth">
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm">Date Of Birth : *</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="date" class="form-control" id="Date_of_Birth " name="Date_of_Birth" value="@Model.Date_of_Birth" required>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm">Last Education : *</label>
                    </div>
                    <div class="col-lg-6">
                        @Html.DropDownList("Last_Education", new List<SelectListItem>
     { new SelectListItem { Text = "-- Choose --", Value = "", Selected=true},
       new SelectListItem { Text = "S2/S3", Value = "S2/S3"},
       new SelectListItem { Text = "S1", Value = "S1"},
        new SelectListItem { Text = "D3", Value = "D3"},
          new SelectListItem { Text = "SMU/SMK", Value = "SMU/SMK"},
       }, new { @class = "form-control labelfrm", id = "Last_Education" })
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm">College/University : *</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="College_University " name="College_University" value="@Model.Collage_University" required>
                    </div>
                </div><br />

                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm">Major : *</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="Major" name="Major" value="@Model.Major" required>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm" style="text-align:right">Position Apply : *</label>
                    </div>
                    <div class="col-lg-6">
                        <input type="text" class="form-control" id="Position_Apply" name="Position_Apply" value="@Model.Position_Apply" required>
                    </div>
                </div><br />
                <div class="row">
                    <div class="col-lg-12" style="text-align:left;margin-left:20%">
                        <label for="name" class="labelfrm">How did you come to know of this vacancy ?</label>
                    </div>

                </div><br />
                <div class="row">
                    <div class="col-lg-6">
                        <label for="name" class="labelfrm" style="text-align:right">Source : *</label>
                    </div>
                    <div class=" dropdown col-lg-6">
                        @Html.DropDownList("Source", new List<SelectListItem>
     { new SelectListItem { Text = "-- Choose --", Value = "", Selected=true},
       new SelectListItem { Text = "Event", Value = "Event"},
       new SelectListItem { Text = "Career Center", Value = "Career Center"},
        new SelectListItem { Text = "Referral Program", Value = "Referral Program"},
       }, new { @class = "form-control labelfrm", id = "Source" })
                    </div>
                </div><br />
                <div class="modal-footer">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="cls_btn_batal btn btn-warning" data-dissmiss="modal" style="background-color:deepskyblue;font-weight:bold;">Batal</button>
                        <button type="submit" class="cls_simpan btn btn-primary" style="background-color:darkblue;font-weight:bold;">Simpan</button>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </form>
}
<script>
    $("#form_create").validate({
        rules: {
            Name: {
                required: true

            },
            Mobile_Phone_Number: {
                required: true


            },
            Email: {
                required: true

            },
            Place_of_Birth: {
                required: true

            },
            Date_of_Birth: {
                required: true

            },
            Last_Education: {
                required: true

            },
            Collage_University: {
                required: true

            },
            Major: {
                required: true

            },
            Position_Apply: {
                required: true

            },
            Source: {
                required: true

            }

        },
        messages: {
            Name: {
                required: "Please enter your firstname"

            },
            Mobile_Phone_Number: {
                required: "Please enter the number only, min 10 number And max 13 number"


            },
            Email: {
                required: "Please enter a valid Email Address"

            },
            Place_of_Birth: {
                required: "Please enter a Place of Birth"

            },
            Date_of_Birth: {
                required: "Please enter a Date of Birth"

            },
            Last_Education: {
                required: "please enter your Last Education"

            },
            College_University: {
                required: "Please enter your College"

            },
            Major: {
                required: "Please enter your Major"

            },
            Position_Apply: {
                required: "Please enter a Position Apply"

            },
            Source: {
                required: "Please select Source"

            }


        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();
            //debugger;
            $.ajax({
                url: "@Url.Action("Edit", "Applicant")",

                method: "post",
                data: dataForm,
                dataType: "json",
                success: function (respon) {
                    //debugger;
                    if (respon.respon == "Berhasil") {
                        alert("Data Berhasil DiEdit");
                    }
                    else {
                        alert(respon.respon);
                    }
                }
            });
        }
    });
    $(".cls_batal").click(function () {
        $("#exampleModal3").modal("hide");
    });
</script>