﻿@model  List<Applicantform.Models.tbl_applicant>
@{
    ViewBag.Title = "Index";
}

<h2>Data Application Form</h2>
<table class="table table-striped">
    <thead>
        <tr style="border-bottom: 1px solid #1c1aab">
            <th scope="col">Name</th>
            <th scope="col">Mobile_Phone_Number</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>@item.Name</td>
                <td>@item.Mobile_Phone_Number</td>
                <td>@item.Email</td>
                <td>
                    <button type="button" class="btn btn-info cls_edit" Id_applicant="@item.Id">Edit</button>
                    <button type="button" class="btn btn-danger cls_btn_delete " Id_applicant="@item.Id">Delete</button>
                </td>

            </tr>
        }
    </tbody>
</table>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" id="modal_dialog_id3">
        <div class="modal-content">
            <div class="modal-header" id="modal_header_id3">
                <h5 class="modal-title" id="exampleModalLabel3"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="modal_body_id3"></div>
            <div class="modal-footer" id="modal_footer_id3" style="display:none; background-color:darkgrey;">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-warning" data-dismiss="modal" style="background-color:darkorange;font-weight:bold;">Tidak</button>
                    <button type="button" class="btn btn-danger cls_delete" style="background-color:darkred;font-weight:bold;">Ya</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(".cls_btn_delete").click(function () {
        var Id = $(this).attr("Id_applicant");
        var data = "";
        debugger;
        $.ajax({
            url: "@Url.Action("GetDataById", "Applicant")",
            method: "get",
            dataType: "json",
            data: { Id: Id },
            success: function (respon) {
                //debugger;
                data = respon;
                $("#modal_body_id3").empty();
                $("#exampleModalLabel3").empty();
                $("#modal_body_id3").empty();
                $("#modal_dialog_id3").css({ 'width': '45%' });
                //$("#modal_dialog_id1").css({ 'padding-bottom': '20%' });
                $("#modal_body_id3").css({ 'padding-bottom': '20%' });
                $("#modal_footer_id3").show();
                $("#modal_header_id3").css({ 'background-color': 'darkred' });
                $("#modal_footer_id3").css({ 'background-color': 'white' });
                $("#exampleModalLabel3").append("Hapus Application Form");

                $("#modal_body_id3").html("<div class='row'><div class ='col-lg-2'style='color:black'><span class='glyphicon glyphicon-trash' style='font-size:60px'></span></div><div class='col-lg-10' style='padding-top:8%;color:darkred;'>Anda Yakin ingin menghapus Application Form  " + data.respon.Name + "</div></div>");
                $("#exampleModal").modal("show");

                $(".cls_delete").click(function () {
                    debugger;
                    $.ajax({
                        url: "@Url.Action("Delete","Applicant")",
                        method: "get",
                        data: { Id: Id },
                        success: function (respon) {
                            //debugger;
                            if (respon.respon == "Berhasil") {
                                window.location.reload();
                                alert("Data berhasil dihapus");
                            }
                            else {
                                alert(respon.respon);
                            }
                        }
                    })
                })
            }
        })
    });

    $(".cls_edit").click(function () {
        debugger;
        var Id = $(this).attr("Id_applicant");

        $.ajax({
            url: "@Url.Action("Edit","Applicant")",
            method: "get",
            data: { Id: Id },
            success: function (respon) {
                $("#modal_body_id3").empty();
                $("#exampleModalLabel3").empty();
                $("#modal_dialog_id3").css({ 'width': '80%' });
                $("#modal_header_id3").css({ 'background-color': 'darkblue' });
                $("#exampleModalLabel3").append("Ubah Organisasi");
                $("#modal_body_id3").append(respon);
                $("#exampleModal3").modal("show");
                $("#modal_footer_id3").hide();
            }
        });
    });
</script>
